@-webkit-keyframes BackgroundAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes BackgroundAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes BackgroundAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-webkit-keyframes Zoom {
    0%{transform: scale(1)}
    50%{transform: scale(1.5)}
}
@-moz-keyframes Zoom {
    0%{transform: scale(1)}
    50%{transform: scale(1.5)}
}
@keyframes Zoom {
    0%{transform: scale(1)}
    50%{transform: scale(1.5)}
}
body, html {
    height: 100%;
}

body {
    background: linear-gradient(270deg, #15e3ae, #e32915, #c615e3, #296069);
    background-size: 800% 800%;

    -webkit-animation: BackgroundAnimation 3s ease infinite;
    -moz-animation: BackgroundAnimation 3s ease infinite;
    animation: BackgroundAnimation 3s ease infinite;

    display: flex;
    justify-content: center;
    align-items: center;

    h1 {

        color: white;
        font-size: 45pt;
        font-family: 'Roboto', sans-serif;
        text-shadow: 0px 5px 25px #000;
        animation: Zoom 1s ease infinite;
        -webkit-animation: Zoom 1s ease infinite;
        -moz-animation: Zoom 1s ease infinite;
    }
}
